{% extends 'shared/Main.html' %}
{% block title %}{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="{{ scrape_form.url.id_for_label }}">{{ scrape_form.url.label }}</label>
        {{ scrape_form.url }}
        <button type="submit" class="btn btn-primary form-control">Send</button>
    </form>
    <h3>List: </h3>
    <ul>
        {% for scrape in scrapes %}
            <li><a href="{% url 'scrape_detail' scrape.id %}">{{ scrape.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}